@media screen and (max-width: 1015px){
    .offer_list-item {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 16px;
        gap: 16px;
        margin-bottom: 16px;
    }
    .header_search{
        width: auto !important;
        display: none;
    }
    .header_login{
        font-size: 12px !important;
        padding: 10px !important;
        margin-right: 5px !important;
    }
}
@media screen and (min-width: 1016px) and (max-width:1140px){
    .header_search{
        width: auto !important;
        display: none;
    }
}
@media screen and (max-width: 375px){
    .playlist{
        display: none;
    }
    .playlist-container{
        width: 100%;
        height: auto;
    }
    .sidebar{
        width: 342px;
    }
    .offer_list-item{
        grid-template-columns: 1fr;
    }
    .offer_scroll-container{
        overflow: visible;
    }
}
